/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 
            - padding (shorthand and/or specific properties like padding-bottom, etc.)
            - margin, (shorthand and/or specific properties like margin-top, etc.)
            - letter-spacing, word-spacing, line-height
            - width, max-width, min-width
            - height, max-height, min-height
        Typography 
            - font-family, font-size, font-style, font-weight
            - text-decoration, text-align
            - color
            - text-shadow, text-transform
        Box, Layout and Border 
            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)
            - box-shadow
            - display, float, align-items, align-content
            - grid-template-columns, grid-column-gap
            - transform
        Other
            - :nth()-child (to target specific child elements)
            - :focus, :hover, :active (to target link states)
            - @font-face or @import (to import typefaces)
        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/* Imported Type Faces */

@font-face {
    font-family:"roboto";
    src: url(../fonts/sans-serif/roboto-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"ultra";
    src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"lato";
    src: url(../fonts/sans-serif/lato-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

/* Page Layout */

.main-section {
    display: flex;
    margin-left: 2rem;
    margin-right: 1rem;
}
.article-image {
    float: left;
    margin-right: 1rem;
}
.subsection {
    display: flex;
    justify-content: flex-start;
}

/* Heading Styles */

h1 {
    font-family:"roboto", Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5rem;
	transform: rotate(-5deg);
    
    }

.highlight {
	text-transform: uppercase;
    font-family:"ultra", Times, serif;
    font-size: 4rem;
	border-top-left-radius: 20% 40%;
    border-bottom-right-radius: 20% 40%;
    border: 1rem solid maroon;
    background-color: maroon;
    color:lightyellow;
    text-align: center;
}
h2 {
    font-family:"roboto", Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 3rem;
    margin-left: 4rem;
}

h3 {
    font-family: "roboto", Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: left;
}

p {
    font-family: "roboto", Verdana, sans-serif;
    text-align: left;

}

/* Nav Style */

nav {
    border-top: .05rem solid black;
    border-bottom: .05rem solid black;
    word-spacing: 4rem;
    line-height: 4rem;
    margin-left: 3rem;
}

nav a{
    font-family: "lato", Verdana, sans-serif;
    font-size: 2rem;
    color: blue;
}


/* Other Style */

.slash {
text-decoration-line: line-through;
width: 10rem;
height: 10rem;
color: black;
text-transform: uppercase;
}


figure {
 margin-bottom: none;
}

figcaption {
    border-top: 0.5rem solid lightyellow;
    border-left: 0.5rem solid lightyellow;
    border-right: 0.5rem solid lightyellow;
    border-bottom: 0.5rem solid lightyellow;
    background-color: lightyellow;
}

.time {
    font-size: 1rem;
    font-style: oblique;
}

aside {
    margin-left: 2rem;
    margin-right: 4rem;  
}

.dots {
    font-size: .15rem;
}

button {
    font-family:"roboto", Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
    border: 2rem solidblack;
    background-color: navy;
    color: white;
    margin-top: 1 rem;
}

/* Header and Footer Style */

.copyright {
   float: left;
   text-align: left;
}

.links {
   float: right;
   text-align: right;
}

footer {
    font-family: "roboto", Verdana, sans-serif;
}

a {
    font-family: "roboto", Verdana, sans-serif;
}

/* Link Styling */

a{
    outline: none;
    text-decoration-line: none;
}